<link rel='stylesheet' href='https://static.fmh.de/components/newsletter-register.css'>
<script defer src='https://static.fmh.de/components/newsletter-register.js'></script>
<!--link rel='stylesheet' href='https://static.fmh.de/components/count-down.css'-->
<!--script defer src='https://static.fmh.de/components/count-down.js'></script -->
<link rel='stylesheet' href='https://static.fmh.de/components/text-box.css'>
<script defer src='https://static.fmh.de/components/text-box.js'></script>
<link rel='stylesheet' href='https://static.fmh.de/components/random-laureates.css'>
<script defer src='https://static.fmh.de/components/random-laureates.js'></script>
<link rel='stylesheet' href='https://static.fmh.de/components/gallery.css'>
<script defer src='https://static.fmh.de/components/gallery.js'></script>
<!-- link rel='stylesheet' href='https://static.fmh.de/components/article-teasers.css' -->
<!-- script defer src='https://static.fmh.de/components/article-teasers.js'></script -->
<link rel='stylesheet' href='https://static.fmh.de/components/youtube-video.css'>
<script defer src='https://static.fmh.de/components/youtube-video.js'></script>

<div class="layout">
  
  <div class="layout__2"
    data-target="text-box"></div>

  <div class="layout__3"
    id="newsletter-register"></div>
  
  <hr class="layout__1 layout__separator" />

  <div data-target="youtube-video"
    class="layout__2"
    data-src="https://www.youtube-nocookie.com/embed/E9DirMANBSs"
    data-caption="Die Veranstaltungshighlights zum FMH-Award 2021"></div>

  <div id="random-laureates"
    class="layout__2"
    data-interval="3000"
    data-from-year="2021"
    data-through-year="2021"></div>
  
  <hr class="layout__1 layout__separator" />
  
  <div data-target="youtube-video"
    class="layout__2"
    data-src="https://www.youtube-nocookie.com/embed/PNDZM2nxNuQ"
    data-caption="@1822direkt"
    data-caption-link="https://www.instagram.com/1822direkt"></div>
  
  <div data-target="youtube-video"
    class="layout__2"
    data-src="https://www.youtube-nocookie.com/embed/ljJzhZolC1U"
    data-caption="@PlanetHome"
    data-caption-link="https://www.instagram.com/planethome_group"></div>
  
  <div data-target="youtube-video"
    class="layout__2"
    data-src="https://www.youtube-nocookie.com/embed/jZq0VGRk1V8"
    data-caption="@Interhyp"
    data-caption-link="https://www.instagram.com/interhypofficial"></div>

  <div data-target="youtube-video"
    class="layout__2"
    data-src="https://www.youtube-nocookie.com/embed/I1WAC3B87Vw"
    data-caption="@DrKlein"
    data-caption-link="https://www.instagram.com/drklein_privatkunden_ag/"></div>

  <hr class="layout__1 layout__separator" />

  <div id="gallery"
    class="layout__2"
    data-year="2021"></div>
  
  <div 
    class="layout__2"></div>

  <!-- spacer -->


  <!-- div id="count-down"
    class="layout__3"
    data-title="FMH Award 2021"
    data-year="2021"
    data-month="1"
    data-day="28"
    data-hour="11"
    data-interval="5000"></div -->

  <!-- div id="article-teasers"
    class="layout__3x2"
    data-keyword="fmh-award"
    data-page-size="2"
    data-url="https://www.fmh.de/api/topics/keyword-articles"></div -->


  <hr class="layout__1 layout__separator" />
  
</div>
