{{#contentFor "head:title"}} {{json loaderData}} Zinsvergleiche – der-markt.com {{/contentFor}}

<main class="dm-main dm-layout">
  <article class="dm-layout__item dm-layout__item--1">
    <h1 class="dm-main__title">der-markt.com - sparen und investieren</h1>
    <p class="dm-main__par">
      Schulden vermeiden.
    </p>
  </article>

  {{{htmlText}}}
</main>
