<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Demo Simplesite</title>
    <link href="/css/main.css" rel="stylesheet" /> 
  </head>
  <body class="body">
    {{{body}}}
  </body>
</html>
